/*Typography*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Navigation*/
.main-navigation ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
}
.main-navigation a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}
/* Structure */
h1{
    text-align: center;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}

/*Colors
from lightest to darkest:
#bbbbbb grey
#ffc0cb light pink
#8eecf5 blue
#ff69b4 dark pink*/
body{
    background-color: #bbbbbb;
}
h1{
    color: #8eecf5;
}
.main-navigation{
    background-color: #ffc0cb;
}
h2{
    color: #8eecf5;
}
.bigIdeas-container{
    background-color: #bbbbbb;
}
.ideas{
    background-color: #bbbbbb;
}
#idea1{
    background-color: #8eecf5;
}
#idea2{
    background-color: #ff69b4;
}
#idea3{
    background-color: #8eecf5;
}
#bottom1{
    background-color: #8eecf5;
}
#bottom2{
    background-color: #ff69b4;
}
#bottom3{
    background-color: #8eecf5;
}

/*Flexing*/
.bigIdeas-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.ideas{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.bottom-div{
    display: flex;
    padding: 10px;
}
.bottom-content-1{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
#bottom2{
    padding: 75px;
}
.bottom-content-3{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.content-3-titles{
    padding: 10px;
}
.content-1-titles{
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 900px) {
    
    
}
