/*colors*/
body{
    color:mediumseagreen;
    background-color:lemonchiffon;
}
h1{
    color:purple;
}
h2{
    color:plum;
}
/*fonts and content*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.assignment-div {
    display:flex;
    padding: 10px;
    margin: auto;
    flex-direction: column;
}
.outer-section {
    display: flex;
    justify-content: space-between;
}
.assignment-section {
    flex: 1;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0 10px;
}
img {
    display:flex;
    align-items: center;
    padding-left: 50px;
    width: 300px;
    height:150px;
}
@media only screen and (min-width: 768px) {
    .assignment-div {
        display: flex;
        flex-direction: column;
    }
    .assignment-section {
        flex: 1;
        margin: 10px;
    }
}