/*colors*/
body{
    color:mediumseagreen;
    background-color:lemonchiffon;
}
h1{
    color:purple;
}
h2{
    color:plum;
}
a {
    text-decoration: none;
    color:plum;
}
/*fonts and content*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    padding: 10px;
    margin: auto;
}
.assignment-div {
    padding: 10px;
    margin: auto;
}
.assignment-section {
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0 10px;
}
img {
    display:flex;
    align-items: center;
    padding-left: 50px;
    width: 300px;
    height:150px;
}
@media screen and (min-width: 768px) {
    #content{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .assignment-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .assignment-section {
        flex: 1;
        flex-wrap: wrap;
        margin: 10px;
    }
    .outer-section{
        display: flex;
        justify-content: space-between;
    }
}