/*head*/

/*------------Main Content------------*/
/*Header*/
.mainheader{
    background-color: lightcoral;
    text-align:center;
    padding: 10px;
    margin: auto;
}
.main-nav{
    text-decoration: none;
}
.main-li{
    text-decoration: none;
    padding:10px;
    margin: auto;
}
.main-a{
    text-decoration: none;
    color:black;
}
.main-a a:hover{
    border-bottom: 5px coral;
}
/*Exercise 1/Exercise 2*/

/*Exercise 1 - youngest or oldest*/

/*Exercise 2 - goal thermometer*/

/*Typography*/

/*Media Query*/
@media screen and (min-width: 768px) {
    .format{

    }
    .main-nav{
        display: flex;
    }
    .main-li{
        display: block;
        flex-direction: row;
    }
    .exercisesection{

    }
    .exercise1{
        
    }

    .exercise1section{

    }
    .exercise2section{

    }
}
