/*head*/

/*------------Main Content------------*/
/*Header*/
.mainheader{
    background-color: lightcoral;
    text-align:center;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

#exercise2-content {
    padding: 20px;
    text-align: center;
}

.thermometer {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to top, #f06, #f06 25%, transparent 25%, transparent);
    position: relative;
    border: 1px solid #333;
    margin: 0 auto;
    overflow: hidden;
}

#progress {
    width: 100%;
    background-color: #333;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.5s;
}
.exercise-content {
    align-items: center;
    width: 500px; 
    height: 600px; 
    margin: 20px; 
    border: 1px solid #ddd; 
    box-sizing: border-box; 
}
#exercise1-content {
    background-color: coral;
    padding: 20px;
    border-radius: 5px;
}


#exercise2-content {
    background-color: lightcoral;
    padding: 20px;
    border-radius: 5px;
}

/*Typography*/

/*Media Query*/
@media screen and (min-width: 768px) {
    .mainheader {
        display: flex;
        justify-content: center;
    }
    .mainheader h1 {
        text-align: center;
    }    
    .format{
        display: flex;
    }
    .exercise-bar {
        display: flex;
        justify-content: space-between;
        background-color: white;
        color: black;
        padding: 10px;
    }
    .exercise-bar button {
        padding: 10px 20px;
        border: none;
        font-weight: bold;
        background-color: transparent;
        text-align: center;
        color: red;
    }
    .exercise-button {
        padding: 10px 20px;
        border: none;
        color: black;
        text-decoration: none;
    }
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .exercise-content {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 500px;
        height: 600px;
        margin: 20px; 
        border: 1px solid #ddd; 
        box-sizing: border-box; 
    }
    #exercise1-content {
        background-color: lightcoral;
        padding: 20px;
        border-radius: 5px;
    }
    #exercise2-content{
        background-color: lightcoral;
    }
    
    .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .input-group label {
        flex: 1;
        margin-right: 10px;
    }
    
    .input-group input {
        flex: 2;
        padding: 5px;
    }
    
    #compareButton {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    #oldestResult {
        font-weight: bold;
    }
}
