/*Structure*/
body{
    background-color: lemonchiffon;
}
#main-h1 {
    color:darkcyan;
}
#main-header {
    background-color: pink;
    border:3px solid darkcyan;
}
#main-content {
    background-color: lightsalmon;
}
#main-footer {
    background-color: peachpuff;
}
formatted-area {
    padding: 5px;
    margin: auto;
}
#main-div {
    width: 75%;
    margin:auto;
    padding: 5px;
    border-radius: 5px;
}
.section-one {
    background-color: lightpink;
    border:3px solid darkcyan;
}
.section-one header {
    color:darkcyan;
}
.columns {
    display:flex;
}
.col1of2{
    flex:1;
}
/*Main Navigation*/
#main-nav ul{
    padding-left: 0px;
}
#main-nav li {
    list-style-type: none;
    display: inline-block;
}
#main-nav a{
    text-decoration: none;
    color: black;
}
#main-nav a:hover{
    border-bottom: 3px solid darkcyan;
}
/*Typography*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*Larger Resolutions*/
@media only screen and (min-width: 600px) {
    #main-nav li {
        display:inline-block;
    }
}