/*Header*/
.main-header{

}
.header-div{

}
.header-section{

}
/*Main Content*/
.main-nav {

}

/*Footer*/
.main-footer{

}

.inner{

}
.nested-foot{

}
.footer-ul{

}
/*Typography*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
 .columns {
    display:flex;
 }   

 .flex-one {
    flex:1;
 }

 .ul-box{
    text-decoration: none;
    flex-direction: row;
}
.main-nav li{
    list-style-type: none;
    padding: 10px;
    padding-left: 50px;
    padding-right: 75px;
}

}