/*colors*/
body{
    color:mediumseagreen;
    background-color:lemonchiffon;
}
h1{
    color:purple;
}
h2{
    color:plum;
}
a {
    text-decoration: none;
    color:plum;
}
ul {
    list-style-type: none;
  }
/*fonts and content*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    padding: 10px;
    margin: auto;
}
.assignment-div {
    padding: 10px;
    margin: auto;
}
.assignment-section {
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0 10px;
}
.projects-div{
    padding: 10px;
    margin: auto;
}
.project-section{
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 0 10px;
}
img {
    display:flex;
    align-items: center;
    padding-left: 50px;
    width: 300px;
    height:150px;
}
@media screen and (min-width: 768px) {
    #content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .assignment-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .assignment-section {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
    }

    .outer-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .projects-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .project-section{
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
    }
    
}